.c-header {
    position: relative;
    padding:30px 50px;
}

    .c-header__inner {
        max-width: $default-width;
        margin: auto;
    }

    .c-header__main-heading {
        margin: 0;
    }

    .c-header__sub-heading {
        margin: 0;
    }