.c-header {
    position: relative;
    padding:30px 50px;
}

    .c-header__inner {
        max-width: $default-width;
        margin: auto;
    }

    .c-header__item {

        text-align: center;

        @include media-query(desk) {
            vertical-align: middle;
            display: inline-block;
        }
    }

    .c-header__cut-out {
        position: relative;
    }

    .c-header__main-heading {
        margin: 0;

        @include media-query(desk) {
            padding-left: 20px;
        }
    }

    .c-header__contact {

        display: block;
        text-align: center;
        padding-top: 12px;

        @include media-query(desk) {
            padding-top: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
        }
    }

        .c-header__contact__icon {
            font-size: 30px;
            color: $color-secondary;
            padding: 0 8px;

            @include media-query(desk) {
                padding: 0 4px;
            }
        }