.c-header {
    position: relative;
    padding:30px 50px;
}

    .c-header__inner {
        max-width: $default-width;
        margin: auto;
    }

    .c-header__item {

        text-align: center;

        @include media-query(desk) {
            vertical-align: middle;
            display: inline-block;
        }
    }

    .c-header__cut-out {
        position: relative;
    }

    .c-header__main-heading {
        margin: 0;

        @include media-query(desk) {
            padding-left: 20px;
        }
    }