code {
    

    &.hljs {
        background: none;
        color: rgb(212, 200, 183);
    }

    .hljs-keyword {
        color: rgb(150, 121, 192);
    }

    .hljs-title {
        color: rgb(212, 200, 183);  
    }

    .hljs-string {
        color: rgb(206, 103, 72);   
    }

    .hljs-literal {
        color: rgb(120, 208, 201);
    }

    .hljs-attr {
        color: rgb(78, 201, 176);
    }

    .hljs-comment {
        color: rgb(96, 139, 78);
    }

}