.c-header {
  position: relative;
  padding: 30px 50px; }

.c-header__inner {
  max-width: 700px;
  margin: auto; }

.c-header__item {
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .c-header__item {
      vertical-align: middle;
      display: inline-block; } }

.c-header__cut-out {
  position: relative; }

.c-header__main-heading {
  margin: 0; }
  @media only screen and (min-width: 1024px) {
    .c-header__main-heading {
      padding-left: 20px; } }

.c-header__contact {
  display: block;
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .c-header__contact {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px; } }

.c-blog-post > *, .c-blog-post pre > code {
  padding: 0 20px;
  max-width: 700px;
  margin: 20px auto;
  display: block; }

.c-blog-post > pre {
  max-width: initial;
  background: #1e1e1e;
  padding: 0 20px;
  display: block;
  padding-bottom: 1px;
  overflow-x: auto; }
  .c-blog-post > pre > code {
    padding: 0; }

code.prettyprinted .kwd {
  color: #9679c0; }

code.prettyprinted .pun {
  color: #d4c8b7; }

code.prettyprinted .str {
  color: #ce6748; }

code.prettyprinted .lit {
  color: #dcd079; }

code.prettyprinted .typ {
  color: #4ec9b0; }

code.prettyprinted .pln {
  color: #d4c8b7; }

code.prettyprinted .com {
  color: #608b4e; }

.c-cut-out {
  position: relative; }

.raised-one {
  box-shadow: 2px 2px 4px 3px #ccc; }
